.container {
  /* margin-top: -4rem; */
  margin-top: calc(0px - 3.5rem - 6px);
}

.todoForm{
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 0.5rem;
  align-items: flex-start;
}

.todoForm button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 3.25rem;
  border-radius: 8px;
  border: 0;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
}

.todoForm button:not(:disabled):hover {
  background: var(--blue);
}

.todoForm button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.bodyTodo {
  width: 100%;
  margin-top: 4rem;
}

.countTasks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.createTask {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: bold;
}

.doneTasks {
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: bold;
}

.counter {
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  margin-left: 0.5rem;
  padding: 2px 8px;
  border-radius: 16px;
}

.divider {
  width: 100%;
  border-top: 1px solid var(--gray-400);
  margin-bottom: 4rem;
}

.infoTask {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 4rem 1rem;
  gap: 1rem;

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  color: var(--gray-300);
}

.textInfo {
  display: flex;
  flex-direction: column;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .todoForm {
    grid-template-columns: 1fr;
  }
}